<!DOCTYPE html>
<html>

<head>

    <link href="https://fonts.googleapis.com/css?family=Bell|Amatic+SC:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="styles/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/css/style.css">
</head>

<body>
    <div class="nav">
        <div class="container">
            <ul class="pull-left">
                <li>The bucketlist</li>
            </ul>
            <ul class="pull-right">
                <li><button type="button" class="btn" data-toggle="modal" data-target="#myModal">
                        Log Out
                    </button></li>
            </ul>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <div class="list-container">
                <span id='lists-header'>
            <h3 >Your lists</h3>
        </span>
                <div class="list-buttons">
                    <ul>
                        <li>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal">
                        Add list
                    </button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                            <h4 class="modal-title" id="myModalLabel">Enter your list name</h4>
                                        </div>
                                        <div class="modal-body">
                                            <!--Add form-->
                                            <form method="POST" action="/lists" class="list-form_ list">

                                                <div class="input-group">

                                                    <input type="text" id="tbox" name='list_name' placeholder="list name" class="form-control">
                                                    <input type="text" id="tbox" name='description' placeholder="description" class="form-control">
                                                </div>


                                                <div class="modal-footer">
                                                    <div class="col-md-7 col-md-offset-2">
                                                        <input type="submit" class="btn" value="Save list">
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- End form -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </ul>
                </div>

                <!--TABLE-->
                <div class="buckets-table">
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <th>Listname</th>
                            <th>description</th>
                            <th>Items</th>
                            <th>update</th>
                            <th>Delete</th>
                        </tr>
                        <tbody>
                            <tr>
                                <td>empty</td>
                                <td>empty</td>
                                <td><a href="">view items<a></td>
                                <td><a href="/lists"> update list<a></td>
                                <td><a href="/lists">delete list<a></td>       
                                </tr>
                    
                </tbody>
            </table>
        </div>
        <!-- End of table -->
        <!-- Msg when no lists yet -->
        <span id='empty-lists'>
                <p class="text-center">You do no have any buckets yet</p>
            </span>
        <!-- End of no lists yet msg -->
    </div>
        </div>
    </div>
    <script src="styles/js/jquery.min.js"></script>
    <script src="styles/js/bootstrap.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
</body>

</html>