<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Bell|Amatic+SC:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="static/styles/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/styles/css/style.css"> {% if title %}
    <title>{{ title }} bucketlist</title>
    {%else %}
    <title>The Bucketlist</title>
    {% endif %}
</head>

<body>
    {% block content%} {% endblock %}
    <script src="static/styles/js/jquery.min.js"></script>
    <script src="static/styles/js/bootstrap.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
</body>

</html>