{% extends "base.html" %}{% block content %}
<div class="nav">
    <div class="container">
        <ul class="pull-left">
            <li>The bucketlist</li>
        </ul>
        <ul class="pull-right">
            <li>
                <button type="submit" class="btn">
                        <a href="/login" class="btn_color"> Log in</a>
                    </button>
            </li>
        </ul>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="login-container">
            <!-- Sign up form -->
            <div class="form">
                <form method="POST" action="/signup">

                    <input type="username" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="password" name="confirm-password" placeholder="Password">
                    <input type="submit" value="Sign up" id="login">
                    <p class="message">Already registered? <a href="/login" class="account">Log in</a></p>
                </form>

            </div>
            <!-- End of signup form -->
        </div>
    </div>
</div>
{% endblock %}